header img{
    height: 20px;
}

header ul{
    list-style: none;
    display: flex;
    margin: 0;
    gap: 30px  ;
}

.left {
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
}

.right a {
    background-color: black;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    border-radius: 10px;
}

.left ul a{
    color:black;
    text-decoration: none;
}